.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 1fr 250px;
    grid-template-areas: 
    "aside main"
    "aside routerOutlet";
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    grid-area: aside;
    background-color: #0f0f0f;
}

aside a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

aside a:hover{
    color: #746e6e;
    border-bottom: 1px solid #746e6e;
}

.productos {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.product-card {
    background-color: black;
    border-radius: 16px;
    max-width: 320px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #2a2a2a;
}

.product-card h2 {
    color: white;
    text-align: center;
}

.product-image-wrapper {
    width: 100%;
    aspect-ratio: 4 / 3;
    background: radial-gradient(circle at top, #333, #111);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-wrapper img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.7));
    border-radius: 20px;
}

.product-link {
    padding: 1.25rem 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-link a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1.4rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(51, 51, 223);
    color: #f9fafb;
}

.product-link a:hover {
    background-color: rgb(22, 22, 124);
}

.router-outlet{
    grid-area: routerOutlet;
    display: flex;
    justify-content: center;
    align-items: center;
}