* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.calendar-container {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weekDays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

.days-grid {
    border: 1px solid grey;
    display: grid;
    background-color: grey;
    gap: 1px;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    height: 100%;
}

.day,
.weekday {
    text-align: center;
    background-color: white;
    padding: 10px;
}

.is-inactive{
    background-color: lightgrey;
}

.events-container{
    display:flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 2px ;
}

.event{
    border-radius: 5px;
}

.event--green {
    color: white;
    background-color: green;
}

.event--purple{
    background-color: purple;
    color: white;
}

.event--timed
{
    background-color: lightblue;
}

.event--red {
    color: white;
    background-color: red;
}

.event-title{
    font-weight: bold;
}