body{
  font-family: Arial, sans-serif;
}
.form {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form label {
  display: block;
  margin-bottom: 10px;
  color: #444;
}

.form input[type="text"],
.form textarea,
.form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form textarea:focus,
.form select:focus{
  outline: 2px solid rgb(80, 80, 195);
}

.form input[type="radio"],
.form input[type="checkbox"] {
  margin-right: 5px;
}

.form button {
  background-color: #28a745; 
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: block;
  margin: 20px auto 0;
}

.form button:hover {
  background-color: #218838; 
  transform: translateY(-20px); 
}
