.form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(202, 195, 195);
    border-radius: 10px;
    padding: 20px;
    justify-items: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    font-size: 16px;
}
button {
  background-color: #4CAF50;   
  color: white;                
  padding: 12px 20px;          
  border: none;                
  border-radius: 6px;          
  font-size: 16px;             
  cursor: pointer;             
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #3fa344;   
  transform: translateY(-2px); 
}

