@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap");
html {
  background-color: black;
}
ul {
  list-style: none;
  padding: 0;
}

/* Estructura general del sitio */

body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
header,
ul {
  min-width: 100px;
}
li {
  border: 2px solid grey;
  background-color: #904896;
}
li:first-child {
  border: none;
  background-color: transparent;
}
h1 > span {
  font-family: "Bowlby One SC", cursive;
  position: absolute;
  top: -99999px;
  left: -9999px;
}
h1 > img {
  width: 100%;
}
article {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(145, 0, 161, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Lista de mujeres asesinadas */

article > ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

article li > span {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Bowlby One SC", cursive;
  text-align: center;
  transition: margin 0.8s ease-out;
}
article li {
  height: calc(2 * 70vw);
  max-height: 400px;
  overflow: hidden;
}
article li > span:first-child {
  margin-top: 170px;
}
article li:hover > span:first-child {
  margin-top: calc(-250px);
}
article li > span:last-child {
  font-size: 90px;
}

@media (min-width: 400px) {
  /* Estructura general del sitio */

  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  header {
    margin: 0;
    grid-row: 1/3;
    grid-column: 1/2;
    z-index: 9;
  }
  article {
    background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(145, 0, 161, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    grid-column: 1 /-1;
    grid-row: 1 / -1;
  }
  h1 > span {
    position: static;
    display: block;
    text-align: center;
    margin-bottom: 10%;
    color: #904896;
    font-size: 70px;
  }
  h1 > img {
    display: block;
    margin: 0 auto;
  }
  h1 > span {
    font-size: 12vw;
  }

  /* Lista de mujeres asesinadas */

  article > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    max-width: none;
    gap: 1em;
    width: 100%;
  }
  article li:first-child {
    grid-area: 1/1/3/3;
  }
  article li {
    max-width: 175px;
    max-height: 250px;
  }

  article li > span:first-child {
    margin-top: 100px;
  }
  article li:hover > span:first-child {
    margin-top: calc(-170px);
  }
  article li > span:last-child {
    font-size: 70px;
  }
}

@media (min-width: 1000px) {
  /* Estructura general del sitio */

  body > header {
    grid-column: 1/2;
  }
  header > h1 {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
  }
  header > h1 > span {
    margin-bottom: 0;
    font-size: 8vw;
  }
  article li:first-child {
    grid-column: 3;
  }
  article li:first-child {
    grid-area: 1/1/2/4;
  }
  header > h1 > img {
  }

  /* Lista de mujeres asesinadas */
}
