body{
    background-color: #f2f2f2;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

thead {
    background-color: #000;
    color: #fff;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 8px 10px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table, th, td {
    border: 1px solid #ccc;
}

form{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

form>h2{
    margin-top: 0;
    font-weight: 500;
}

label{
    font-size: 14px
}

input{
    margin-bottom: 10px;
    margin-top: 2px;
    width: 80%;
    padding: 0.3rem;
    border: 1px solid rgb(194, 188, 188);
}

button[type="submit"]{
    margin-bottom: 10px;
    margin-top: 2px;
    width: 30%;
    padding: 0.4rem;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}
