body {
    width: 100%;
    margin: 0;
    display: grid;
}

header {
    margin: 10px 50px;
}

header>h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

article>ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-template-rows: repeat(auto-fit, 200px);
    gap: 5px;
    padding: 30px;
    justify-content: center;
    margin: 0;
}

li {
    list-style: none;
    background-color: blueviolet;
    display: block;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    gap: 5px;
}

span {
    text-align: center;
}

@media (orientation: landscape) and (max-width: 640px) {
    body {
        height: 100vh;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header article";
    }

    header {
        height: calc(100vh - 20px - 44px);
        margin: 10px 50px;
        grid-area: header;
    }

    article {
        grid-area: article;
        height: 100vh;
        overflow: scroll;
    }

    header>h1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    h1>img{
        width: 80px;
        height: 80px;
    }

    article>ul {
        height: calc(100% - 60px);
        display: grid;
        grid-template-columns: repeat(auto-fit, 160px);
        grid-template-rows: repeat(auto-fit, 200px);
        gap: 5px;
        padding: 30px;
    }

    li{
        font-size: 10px;
    }
}