body {
    width: 100%;
    margin: 0;
    display: grid;
}

header>h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


article>ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 200px));
    gap: 5px;
    padding: 30px;
}

li {
    list-style: none;
    background-color: blueviolet;
    display: block;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    gap: 5px;
}

span {
    text-align: center;
}

@media (orientation: landscape) {
    body {
        height: 100vh;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header article";
    }

    header{
        height: 100%;
        grid-area: header;
    }

    article{
        grid-area: article;
    }

    header>h1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    article>ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
        grid-template-rows: repeat(auto-fit, minmax(100px, 200px));
        gap: 5px;
        padding: 30px;
        overflow: scroll;
    }
}