body{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
}
table, td{
    border: 2px solid black;
    border-collapse: collapse;
}

.media{
    background-color: rgb(193, 212, 131);
}

.grey{
    background-color: rgb(219, 206, 206);
}