body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    margin: 10px;
}

.categorias {
    padding:20px;
    text-align: center;
}

.categorias h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 6px;
}

.card h3 {
    margin: 15px 0 10px;
    font-size: 22px;
}

.card p {
    font-size: 15px;
    color: #555;
    text-align: center;
}

