@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    width: 100vw;
    font-size: 0.625rem;
    padding: 0.4rem;
}

article {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 5rem 4fr 5rem;
    width: 100%;
    min-width: 300px;
    max-width: 350px;
    border-radius: 12px;
    border: 0.1rem solid grey;
    background-image:
        linear-gradient(rgba(223, 219, 219, 0.4), rgba(0, 0, 0, 0.4)), url(assets/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

article>header {
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image:
        linear-gradient(rgba(223, 219, 219, 0.4), rgba(0, 0, 0, 0.4)), url(assets/fondo-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

article>header>img {
    width: 80px;
    height: 50px;
}

article>header>h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 1.25rem;
    color: blue;
}

article>main {
    padding-top: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

article>main>img:first-of-type {
    width: 100px;
    height: 100px;
}

article>main>.info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.info p {
    margin: 0;
    font-size: 0.8rem;
}

p.title {
    font-size: 0.6rem;
    font-weight: bolder;
}

.tlf-ext {
    display: flex;
    gap: 2.5rem;
}

article>main>img:last-of-type {
    display: none;
}

article>footer {
    display: flex;
    gap: 5rem;
}

article>footer>p {
    position: relative;
    left: 1.2rem;
    font-weight: bold;
    font-size: 1rem;
}

article>footer>img {
    max-height: 60px;
}

@media (min-width: 475px) {
    body {
        display: flex;
        justify-content: center;
    }

    article {
        width: 70%;
        max-width: 600px;
    }

    article>header>h1 {
        font-size: 1.5rem;
    }

    article>main {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .info p {
        font-size: 0.9rem;
    }

    p.title {
        font-size: 0.7rem;
    }

    article>main>img:last-of-type {
        display: block;
        width: 50px;
        height: 50px;
        display: inline;
    }

    article>footer {
        gap: 6rem;
    }

    article>footer>p{
        left: 1rem;
    }
}