#cajas {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

#contador {
    margin-top: 5px;
    font-weight: bold;
}

.caja {
    border: 1px solid black;
    width: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    font-weight: bold;
}

.seleccionada {
    background-color: rgb(96, 6, 6);
}